body {
    background-color: #007BFF; /* синій фон */
    color: purple; /* текст буде білим — читається на синьому */
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    flex-direction: column;


}

#main-nav {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#main-nav button {
    padding: 10px 15px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    background-color: #ff0000;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#main-nav button:hover {
    background-color: #005f99;
}

#content {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    background-color: #ff0000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

h1 {
    color: #023e8a;
    margin-bottom: 20px;
    text-align: center;
}

form {
    display: none;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    border: 1px solid #cce3f4;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #ff1a1a;
}

label {
    font-weight: 500;
    color: #e61919;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
textarea {
    padding: 10px;
    border: 1px solid #a9cfe6;
    border-radius: 5px;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #e61919;
    color: green;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #005f99;
}

button:not([type="submit"]) {
    background-color: #00b4d8;
    color:orange;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

button:not([type="submit"]):hover {
    background-color: #0096c7;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 8px 0;
    border-bottom: 1px solid #d0eaff;
}

li:last-child {
    border-bottom: none;
}
